html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1344px;
  position: relative;
}

nav {
  background: linear-gradient(
    90deg,
    rgba(117, 117, 117, 1) 0%,
    rgba(94, 94, 94, 1) 35%,
    rgba(139, 139, 139, 1) 82%
  );
  margin: 65px auto 0 auto;
  width: 75%;
  border-radius: 5px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 9px;
}

nav ul li {
  text-decoration: none;
  list-style: none;
  align-items: center;
  font-size: larger;
  color: white;
  cursor: pointer;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.icon {
  position: absolute;
  right: 10rem;
  top: 2.3rem;
}

.img {
  display: flex;
  flex-direction: row;
}

.image0 {
  background-image: url("images/expedition_hero.jpg");
  width: 1440px;
  height: 538px;
  background-repeat: no-repeat;
}

.image1 {
  background-repeat: no-repeat;
  width: 25%;
  height: 200px;
}

.image2 {
  background-repeat: no-repeat;
  width: 25%;
  height: 200px;
}

.image3 {
  background-repeat: no-repeat;
  width: 25%;
  height: 200px;
}

.image4 {
  background-repeat: no-repeat;
  width: 25%;
  height: 200px;
}

.image4 img {
  width: 21rem;
  height: 12rem;
}

.text {
  margin: 100px auto;
  text-align: center;
}

#main-txt {
  color: white;
  font-size: 52px;
  font-weight: lighter;
  height: 65px;
  cursor: pointer;
}

#sub-txt {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 27px;
  cursor: pointer;
  margin-top: 25px;
  text-align: center;
  color: white;
}

.sub-heading {
  font-size: 21px;
  color: white;
  font-weight: 400;
  height: 64px;
  line-height: 18px;
  cursor: pointer;
}

.sub-heading :hover {
  text-decoration: underline;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

footer ul {
  list-style: none;
  display: flex;
}

footer ul li {
  font-size: 10px;
  padding: 4px;
}

.footer1 {
  flex-direction: column;
  margin-right: 25px;
}

.footer2 {
  margin: 10px 0 0 25px;
}

.footer2 li a {
  color: #08c;
  text-decoration: none;
}

.footer1 li {
  margin: 10px 0;
}

#icon {
  width: 15px;
  height: 14px;
  margin-left: 4px;
  margin-top: 1px;
}
